{% block meta %}
  <meta property="og:url" content="http://domain.com" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="We invest in the heart of the cities | PH Capital" />
  <meta property="og:description" content="PH Capital or Project Heart Capital is a real estate private equity firm that looks for attractive investment opportunities in the heart of the cities, primarily in the residential sector." />
  <meta property="og:image" content="http://domain.com/img/ph-capital-seo.jpg" />
  <meta property="og:image:width" content="1500" />
  <meta property="og:image:height" content="1126" />

  <meta name="title" content="We invest in the heart of the cities | PH Capital" />
  <meta name="keywords" content="">
  <meta name="description" content="PH Capital or Project Heart Capital is a real estate private equity firm that looks for attractive investment opportunities in the heart of the cities, primarily in the residential sector." />

  <link runat="server" rel="shortcut icon" href="img/favicon.png" type="image/x-icon"/>
  <link runat="server" rel="icon" href="img/favicon.png" type="image/ico"/>
{% endblock %}
