.home
  &-information
    background-image url('../img/bg-1.jpg')
    background-position center center
    background-size cover
    background-attachment fixed
    height 95vh
    display flex
    align-items center
    position relative
    @media $sm
      justify-content center
      align-items center
      padding 0 60px
    @media $xs
      align-items center
      padding 0 20px 0 20px
    &-content
      margin -50px 0 0 16.51%
      @media $sl
        margin 0 0 0 5%
      @media $sm
        margin 0
      h1
        color white
        font-size remify(31)
        line-height 2.29
        letter-spacing 4.6px
        font-weight $normal
        margin-top -15px 0 0 0
        text-transform uppercase
        margin 0
        @media $lg
          font-size remify(27)
        @media $sl
          font-size remify(25)
        @media $sm
          text-align center
          line-height 2.25
          letter-spacing 2.4px
          br
            display none
        @media $xs
          font-size remify(14)
          line-height 2
          letter-spacing 2.4px
          text-align center
          color #ffffff
        span
          font-weight $medium
          font-style italic
          @media $xs
            letter-spacing 2.2px

      h2
        color #5e78b3
        font-size remify(17)
        font-weight $medium
        line-height 4.24
        letter-spacing 8px
        text-align left
        text-transform uppercase
        margin 0

        @media $sm
          text-align center
          font-size remify(17)
          line-height 2.08
          letter-spacing 5.6px
        @media $xs
          font-size 12px

    p
      position absolute
      display flex
      bottom 4%
      left 8.2%
      right 0
      align-items center
      justify-content flex-start
      @media $sl
        left 5%
      @media $sm
        flex-direction column
        text-align center
        justify-content center
        align-items center
        img
          order 2
      span
        margin-left 36px
        font-family "Futura"
        font-weight $medium
        line-height 5.54
        letter-spacing 5px
        color white
        font-size remify(13)
        @media $sm
          margin 0
          order 1
        @media $xs
          line-height 4
          font-size remify(11)
          letter-spacing 4.2px
      img
        @media $xs
          height 24px
          width 24px

  &-investment
    display flex
    align-items flex-start
    @media $sm
      flex-direction column
      padding-bottom 59px
    img
      width 40%
      height auto
      max-width 575px
      @media $sm
        width 100%
    &-content
      padding 70px 0 0 179px
      display flex
      flex-direction column
      justify-content center
      align-items flex-start
      @media $lg
        padding 60px 0 0 100px
      @media $sl
        padding 30px 0 0 60px
      @media $xs
        padding 0 13px 0 13px
    &-information
      width 78%
      margin 16px 0 37px 0
      @media $sl
        margin 10px 0 25px 0
      @media $xs
        width 100%
  &-strategy
    display flex
    align-items center
    background-color #F6F6F6
    @media $sm
      flex-direction column
      background-color #f6f6f6
      padding 0 60px
      align-items flex-start
    @media $xs
      padding 0 13px

    &-header
      flex-direction column
      justify-content center
      align-items flex-start
      flex-basis 27%
      padding 0 0 0 72px
      @media $lg
        padding 41px 0 0 59px
      @media $sm
        width 100%
        padding 20px 0 0 0
      h3
        margin-bottom 50px
        line-height 1.43
        @media $sm
          br:nth-child(1)
            display none
    &-information
      flex-basis 38%
      margin -30px 0 0 75px
      @media $lg
        margin 59px 0 0 60px
      @media $sl
        margin 59px 20px 0 10px
      @media $sm
        margin 20px 0 0 0
    &-image
      width 23%
      max-width 334px
      margin 51px 0 0 20px
      padding 0
      @media $sl
        margin 51px 0 0 0
      @media $sm
        width 50%
        margin 10px 0 0 0
      @media $xs
        width 75%
  &-smart
    display flex
    position relative
    @media $sm
      flex-direction column
    &-left
      background-image url('../img/smart-1@2x.jpg')
      background-position center center
      background-size cover
      height 451px
      flex-basis 53%
      @media $sl
        height 380px
      @media $sm
        height 234px
      @media $xs
        height 134px
      &-content
        position relative
        z-index 2
        margin 84px 0 0 212px
        @media $sm
          margin 50px 0 50px 60px
        @media $xs
          margin 0 0 30px 30px
      &-title
        color white
    &-right
      flex-basis 47%
      display flex
      align-items center
      padding 0 151px 0 39px
      p
        margin -30px 0 0 0
      @media $sl
        padding 0 50px
      @media $sm
        padding 40px 60px
      @media $xs
        padding 30px 30px 14px 13px
    &-line
      height 1px
      width 368px
      position absolute
      background-color #5e78b3
      top 95px
      right 29%
      @media $sl
        top 50px
      @media $sm
        display none
      &-mobile
        display none
        @media $sm
          display block
          position absolute
          height 44%
          width 1px
          background-color #5e78b3
          top 15%
          right 24%
        @media $xs
          top 10%
          height 42%

  &-team
    padding-bottom 66.5px
    padding-top 43.5px
    position relative
    background-color #f6f6f6
    @media $xs
      padding-top 0
    &-image-desktop
      position absolute
      right 0
      top -7.5%
      width 33%
      max-width 474px
      @media $lg
        width 30%
        top -15%
      @media $sl
        width 35%
        top -2.5%
      @media $sm
        top 0
        width 40%
      @media $xs
        display none
    &-image-mobile
      position absolute
      right 0
      top 0
      display none
      @media $xs
        display block

    &-content
      display flex
      flex-direction column
      justify-content center
      align-items flex-start
      width 38.75%
      margin-left 8.89%
      a
        padding 10px 50px
        margin-top 47px
      @media $sm
        margin-left 60px
      @media $xs
        width 60%
        margin-left 13px
    &-number
      font-size remify(16)
      line-height 4.5
      letter-spacing 7.5px
      color #5e78b3
    &-title
      font-size remify(30)
      line-height 1.63
      letter-spacing 3.6px
      color #0c0d11
      margin 0
      font-weight $normal
    &-information
      font-size remify(15)
      font-weight normal
      line-height 2.13
      letter-spacing 0.2px
      color #0c0d11
      margin 10px 0 43px 0
    &-button
      color white
      text-decoration none
      background-color #0c0d11
      font-size remify(12)
      letter-spacing 2px
      text-align center
      padding 10px 57px
  &-partner
    display flex
    @media $sm
      flex-direction column
    &-left
      background-image url('../img/partner-1@2x.jpg')
      background-position center center
      background-size cover
      min-height 408px
      flex-basis 55%
      display flex
      align-items flex-start
      justify-content flex-end
      position relative
      @media $sm
        justify-content flex-start
        min-height inherit
        height 234px
        width 77%
      @media $xs
        height 134px
      &-content
        position relative
        z-index 2
        width 40%
        margin 52px 0 0 0
        @media $lg
          width 45%
        @media $sl
          width 50%
        @media $sm
          margin 50px 0 50px 60px
          width 80%
        @media $xs
          margin 0 0 30px 30px
      &-title
        color white
        padding-bottom 60px
        border-bottom 1px solid #5e78b3
        @media $sm
          border-bottom none
          br:nth-child(1)
            display none
    &-right
      flex-basis 45%
      display flex
      padding 0 110px 0 108px
      flex-direction column
      align-items flex-start
      justify-content center
      @media $sl
        padding 0 50px
      @media $sm
        padding 40px 60px
      @media $xs
        padding 35px 30px 14px 13px
      img
        height 103px
        width 301px
        @media $lg
          height 87px
        @media $sl
          height 70px
        @media $sm
          display none
      p
        margin 20px 0 0 0
        color #333333
        @media $sm
          margin 0
        a
          color #333
          text-decoration underline
    &-line
      display none
      @media $sm
        display block
        position absolute
        height 70%
        width 1px
        background-color #5e78b3
        top 45%
        right 7%
  &-vre
    display flex
    position relative
    padding 0 0 84px 0
    @media $sm
      padding 0 0 60px 0
    @media $sm
      padding 0 0 0 0
    &-image
      position absolute
      top 47px
      right 0
      width 33.75%
      max-width 486px
      @media $sm
        display none
    &-left
      flex-basis 72%
      display flex
      padding 64px 159px 0 62px
      @media $sl
        padding 64px 100px 0 40px
      @media $sm
        flex-basis 100%
        padding 20px 50px 0 60px
      @media $xs
        padding 15px 30px 14px 13px
      img
        margin-top 10px
    &-right
      flex-basis 28%
      background-color #212c3e
      @media $sm
        display none
    &-content
      margin 0 0 0 48px
      @media $xs
        margin 0 0 0 10px
      h3
        margin -8px 0 0 0
        @media $sm
          br
            display none
        @media $xs
          margin 7px
    &-list
      list-style none
      padding 0
      margin 48px 0 0 0
      @media $xs
        margin 20px 0 0 -50px
      &-item
        display flex
        align-items center
        margin-bottom 15px
        &-text
          font-family "Futura"
          font-weight $normal
          line-height 1.69
          letter-spacing 0.2px
          color #333333
          margin-left 48px
          span
            font-weight $bold
          @media $sm
            font-size remify(12)
            line-height 2
            letter-spacing 0.1px
            color #333333
          @media $xs
            margin-left 20px
  &-track
    padding 0 6% 82px 6%
    @media $sm
      padding 40px 60px
      background-color #f6f6f6
    @media $xs
      padding 15px 13px 30px 13px
    &-number
      font-size remify(16)
      line-height 4.5
      letter-spacing 7.5px
      color #5e78b3
      margin 0
    &-title
      font-weight $medium
      font-size remify(30)
      line-height 1.43
      letter-spacing 3.6px
      color black
      margin 0
    &-container
      display flex
      margin 27px auto 0 auto
      align-items center
      justify-content space-between
      @media $xs
        display none !important
      &-mobile
        display none !important
        @media $xs
          display block !important
          margin-top 20px
    &-image
      margin 0
      padding 0
      position relative
      flex-basis 31.5%
      max-height 421px
      cursor pointer
      text-align center
      &:hover
        flex-basis 40%
        max-height none
        img
          width 100%
          height auto
        figcaption
          display none
      &:hover > .home-track-image-hover
        display flex
      &:focus
        border 1px solid red

      &-mobile
        width 100% !important
      img
        width 100%
        height 100%
      figcaption
        position absolute
        bottom -4px
        left 0
        right 0
        font-size remify(15)
        font-weight $medium
        letter-spacing 1.8px
        text-align center
        color #ffffff
        opacity 0.89
        background-color #212c3e
        height 65px
        line-height 65px
        @media $lg
          height 57.5px
          line-height 57.5px
        @media $sl
          height 50px
          line-height 50px
        @media $xs
          font-size remify(15)
          height 40px
          line-height 40px

      &-hover
        position absolute
        top 0
        bottom 0
        left 0
        right 0
        display none
        opacity 0.93
        background-color #212c3e
        align-items center
        justify-content center
        flex-direction column
        span
          font-size remify(17)
          font-weight $medium
          line-height 1.41
          letter-spacing 2px
          text-align center
          color #5e78b3
          margin 100px 0 0 0

        a
          width 30%
          height 30px
          border solid 1px #ffffff
          font-size remify(11)
          font-weight $medium
          letter-spacing 1.8px
          line-height 30px
          text-align center
          color white
          margin 40px 0 0 0
          cursor pointer
  &-contact
    display flex
    align-items flex-end
    position relative
    @media $sl
      padding 42px 0 0 0
    @media $xs
      padding 0
    img
      width 44%
      height auto
      z-index -1
      @media $xs
        position absolute
        bottom 0
        left 0
        width 90%
    &-content
      padding 0 152px 0 175px
      width 100%
      @media $lg
        padding 0 120px 0 126px
      @media $sl
        padding 0 70px 0 76px
      @media $sm
        padding 40px 60px 0 0
      @media $xs
        padding 15px 30px 14px 13px
      h3
        margin-bottom 20px
    &-form
      margin 0 0 66px 0
      overflow hidden
      label
        height 36px
        font-size remify(15)
        font-weight normal
        line-height 2.27
        letter-spacing 0.1px
        color #0c0d11
        display block
        @media $xs
          font-size remify(12)
          line-height 2.83
          margin 0
      input
        border-bottom 1px solid #979797
        border-top transparent
        border-right transparent
        border-left transparent
        padding 5px
        width 100%
        margin-bottom 10px
        background-color #fff
      textarea
        border 1px solid #979797
        outline none
        resize none
        width 100%
        padding 5px
        height 92px
        background-color rgba(255,255,255,1)
      button
        width 138px
        height 36px
        background-color #0c0d11
        font-size 12px
        font-weight $medium
        line-height 36px
        letter-spacing 2px
        text-align center
        color #ffffff
        margin 42px 0 0 0
        float right
        border none
        @media $xs
          float left

