.home
  &-information
    background-image url('../img/bg-1.jpg')
    background-position center center
    background-size cover
    background-attachment fixed
    height 833px
    display flex
    align-items flex-start
    position relative
    padding-top 227px
    @media screen and (max-width: 920px)
      justify-content center
      align-items center
      padding 0 60px
    @media $xs
      height 524px
      align-items flex-start
      padding 0 20px 0 20px
    &-content
      margin 0 0 0 16.51%
      @media screen and (max-width: 1120px)
        margin 0 0 0 5%
      @media screen and (max-width: 920px)
        margin 0
      @media $xs
        margin-top 92px
      h2
        color #5e78b3
        font-size remify(17)
        font-weight $medium
        line-height 4.24
        letter-spacing 8px
        text-align left
        text-transform uppercase
        margin 0
        br
          display none
        @media screen and (max-width: 920px)
          text-align center
          font-size remify(17)
          line-height 2.08
          letter-spacing 5.6px
          margin-bottom 41px
          br
            display block
        @media $xs
          font-size remify(12)

    &-text
      color white
      font-size remify(31)
      line-height 2.29
      letter-spacing 4.6px
      font-weight $normal
      text-transform uppercase
      margin 0
      @media $lg
        font-size remify(27)
      @media screen and (max-width: 1120px)
        font-size remify(25)
      @media screen and (max-width: 920px)
        display none
      span
        font-weight $medium
        font-style italic
        @media $xs
          letter-spacing 2.2px

    &-text-mobile
      color white
      font-size remify(25)
      font-weight $normal
      text-transform uppercase
      margin 0
      text-align center
      line-height 2.25
      letter-spacing 2.4px
      display none
      @media screen and (max-width: 920px)
        display block
      @media $xs
        font-size remify(16)
        line-height 2
        letter-spacing 2.4px
        text-align center
        color #ffffff
      span
        font-weight $medium
        font-style italic
        @media $xs
          letter-spacing 2.2px

    &-action
      position absolute
      display flex
      bottom 77px
      left 127px
      right 0
      margin 0
      align-items center
      justify-content flex-start
      @media screen and (max-width: 1120px)
        left 5%
      @media screen and (max-width: 920px)
        flex-direction column
        text-align center
        justify-content center
        align-items center
        left 0
        img
          order 2
      span
        margin-left 36px
        font-family "Futura"
        font-weight $medium
        line-height 5.54
        letter-spacing 5px
        color white
        font-size remify(13)
        @media screen and (max-width: 920px)
          margin 0
          order 1
        @media $xs
          line-height 4
          font-size remify(11)
          letter-spacing 4.2px
      img
        @media $xs
          height 24px
          width 24px

  &-investment
    display flex
    align-items flex-start
    @media $sm
      flex-direction column
      padding-bottom 59px
    &-image
      width 40%
      height auto
      max-width 575px
      @media $sm
        display none
      &-mobile
        display none
        width 100%
        @media $sm
          display block
    &-content
      padding 70px 0 0 179px
      display flex
      flex-direction column
      justify-content center
      align-items flex-start
      @media $lg
        padding 60px 0 0 100px
      @media $sl
        padding 30px 0 0 60px
      @media $xs
        padding 0 13px 0 13px
      span
        @media $xs
          display block
          margin-top 20px
          line-height 4
    &-information
      width 78%
      margin 16px 0 30px 0
      @media $sl
        margin 10px 0 25px 0
      @media $xs
        width 100%
    &-button
      margin-bottom 50px
      @media $sm
        margin-bottom 0
  &-strategy
    display flex
    align-items center
    background-color #F6F6F6
    @media $sm
      flex-direction column
      background-color #f6f6f6
      padding 0 60px
      align-items flex-start
    @media $xs
      padding 0 13px

    &-header
      flex-basis 27%
      padding 0 0 0 72px
      @media $lg
        padding 41px 0 0 59px
      @media $md
        padding 0 0 0 20px
      @media $sm
        width 100%
        padding 20px 0 0 0
      span
        @media $xs
          line-height 4
      h3
        margin-bottom 50px
        line-height 1.43
        @media $sm
          margin 0
          br:nth-child(1)
            display none
    &-information
      flex-basis 38%
      margin -30px 0 0 85px
      @media $lg
        margin 59px 0 85px 60px
      @media $sl
        margin 59px 20px 85px 10px
      @media $sm
        margin 20px 0 0 0
    &-image
      width 23%
      max-width 334px
      margin 51px 0 0 20px
      padding 0
      align-self flex-end
      @media $sl
        margin 51px 0 0 0
      @media $sm
        width 50%
        margin 10px 0 0 0
        align-self flex-start
        margin-left -60px
      @media $xs
        width 75%
        margin-left -13px
  &-smart
    display flex
    position relative
    @media $sm
      flex-direction column
    &-left
      background-image url('../img/smart-1@2x.jpg')
      background-position center center
      background-size cover
      height 451px
      flex-basis 53%
      @media $sl
        height 380px
      @media $sm
        height 234px
      @media $xs
        height 134px
      &-content
        position relative
        z-index 2
        margin 84px 0 0 212px
        display flex
        justify-content flex-start
        align-items flex-start
        flex-direction column
        @media $md
          margin 84px 0 0 112px
        @media $sm
          margin 50px 0 50px 60px
        @media $xs
          margin 0 0 30px 13px
          span
            line-height 1
            display block
            margin-top 30px
            margin-bottom 20px
      &-title
        color white
    &-right
      flex-basis 47%
      display flex
      padding 131px 151px 0 39px
      @media $sl
        padding 85px 50px 0 50px
      @media $md
        padding 50px 30px 0 30px
      @media $sm
        padding 40px 60px
      @media $xs
        padding 30px 30px 14px 13px
      p
        margin 0
        font-size remify(18)
        @media $xs
          font-size remify(12)
    &-line
      height 1px
      width 368px
      position absolute
      background-color #5e78b3
      top 95px
      right 29%
      @media $sl
        top 50px
      @media screen and (max-width: 995px)
        top 20px
      @media $sm
        display none
      &-mobile
        display none
        @media $sm
          display block
          position absolute
          height 180px
          width 2px
          background-color #5e78b3
          top 70px
          right 24%
        @media $xs
          top 28px
          height 130px

  &-team
    padding-bottom 66.5px
    padding-top 43.5px
    position relative
    background-color #f6f6f6
    @media $xs
      padding-top 0
      padding-bottom 53px
    &-image-desktop
      position absolute
      right 0
      top 50%
      transform: translateY(-50%);
      width 33%
      max-width 474px
      @media $sm
        width 40%
      @media $sm
        display none
    &-image-mobile
      position absolute
      right 0
      top 0
      display none
      @media $sm
        display block

    &-content
      display flex
      flex-direction column
      justify-content center
      align-items flex-start
      width 38.75%
      margin-left 8.89%
      @media $sm
        margin-left 60px
        width 50%
      @media $xs
        width 70%
        margin-left 13px
      span
        @media $xs
          line-height 1
          display block
          margin-top 30px
          margin-bottom 10px
      a
        padding 10px 50px
        margin-top 47px
        @media $xs
          margin-top 25px
    &-number
      font-size remify(16)
      line-height 4.5
      letter-spacing 7.5px
      color #5e78b3
    &-title
      font-size remify(30)
      line-height 1.63
      letter-spacing 3.6px
      color #0c0d11
      margin 0
      font-weight $normal
    &-information
      font-size remify(15)
      font-weight normal
      line-height 2.13
      letter-spacing 0.2px
      color #0c0d11
      margin 10px 0 43px 0
    &-button
      color white
      text-decoration none
      background-color #0c0d11
      font-size remify(12)
      letter-spacing 2px
      text-align center
      padding 10px 57px
  &-partner
    display flex
    @media $sm
      flex-direction column
    &-left
      background-image url('../img/partner-1@2x.jpg')
      background-position center center
      background-size cover
      min-height 408px
      flex-basis 55%
      display flex
      align-items flex-start
      justify-content flex-end
      position relative
      @media $md
        justify-content flex-start
      @media $sm
        justify-content flex-start
        min-height inherit
        height 234px
        width 77%
      @media $xs
        height 134px
      &-content
        position relative
        z-index 2
        width 40%
        margin 52px 0 0 0
        @media $lg
          width 45%
        @media $sl
          width 50%
        @media $md
          margin 50px 0 0 112px
        @media $sm
          margin 50px 0 50px 60px
          width 80%
        @media $xs
          margin 0 0 30px 13px
        span
          line-height 1
          display block
          margin-top 30px
          margin-bottom 20px
      &-title
        color white
        @media $sm
          br:nth-child(1)
            display none
    &-right
      flex-basis 45%
      display flex
      padding 0 110px 0 108px
      flex-direction column
      align-items flex-start
      justify-content center
      @media $sl
        padding 0 50px
      @media $sm
        padding 40px 60px
      @media $xs
        padding 35px 30px 14px 13px
      img
        height 103px
        width 301px
        object-fit contain
        @media $lg
          height 87px
        @media $sl
          height 70px
        @media $sm
          display none
      p
        margin 20px 0 0 0
        color #333333
        @media $sm
          margin 0
        a
          color #333
          text-decoration underline
    &-line
      display none
      @media $sm
        display block
        position absolute
        height 70%
        width 1px
        background-color #5e78b3
        top 45%
        right 7%
  &-vre
    display flex
    justify-content space-between
    position relative
    padding 0 0 84px 0
    @media $sm
      padding 0 0 60px 0
    @media $sm
      padding 0 0 0 0
    &-image
      position absolute
      top 47px
      right 0
      width 33.75%
      max-width 486px
      @media $sm
        display none
    &-left
      flex-basis 72%
      display flex
      padding 64px 159px 0 62px
      @media $sl
        padding 64px 100px 0 40px
      @media $sm
        flex-basis 100%
        padding 20px 50px 0 60px
      @media $xs
        padding 15px 30px 14px 13px
      img
        margin-top 10px
        @media $sm
          margin-top -10px
          width 51px
          height 49px
        @media $xs
          margin-top -5px
    &-right
      flex-basis 28%
      max-width 403px
      background-color #212c3e
      @media $sm
        display none
    &-content
      margin 0 0 0 48px
      @media $xs
        margin 0 0 0 10px
      h3
        margin -8px 0 0 0
        @media $sm
          br
            display none
        @media $xs
          margin 7px
    &-list
      list-style none
      padding 0
      margin 48px 0 0 0
      @media $sm
        margin 48px 0 0 -100px
      @media $xs
        margin 20px 0 0 -50px
      &-item
        display flex
        align-items center
        margin-bottom 15px
        @media $lg
          align-items flex-start
        & .ph-number
          line-height 2.5
        &-text
          font-family "Futura"
          font-weight $normal
          line-height 1.69
          letter-spacing 0.2px
          color #333333
          margin-left 48px
          span
            font-weight $bold
          @media $xs
            font-size remify(12)
            line-height 2
            letter-spacing 0.1px
            color #333333
            margin-left 20px
  &-track
    padding 0 127px 95px 127px
    @media screen and (max-width: 1200px)
      padding 0 75px 95px 75px
    @media screen and (max-width: 999px)
      background-color #f6f6f6
      padding 25px 75px 40px 75px
    @media $sm
      padding 40px 60px
    @media $xs
      padding 5px 13px 43px 13px
    h3
      line-height 0.8
      @media screen and (max-width 999px)
        margin-top -13px
        .home-track-title-hide
          display none
      span
        font-style italic
        @media screen and (max-width 999px)
          font-style normal
    &-content
      .ph-number
        @media $xs
          line-height 1
          display block
          margin-top 30px
          margin-bottom 15px
    &-container
      display flex
      margin 47px auto 0 auto
      align-items center
      justify-content space-between
      @media $xs
        margin-top 20px
    &-label
      border solid 1px #ffffff
      background-color transparent
      color white
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
      display none
      width 144px
      height 36px
      font-size 11px
      font-weight $medium
      line-height 36px
      letter-spacing 1.8px
      text-align center
      cursor pointer
      z-index 1
      @media screen and (max-width 999px)
        display block

    &-image
      margin 0
      padding 0
      position relative
      flex-basis 31.5%
      max-height 421px
      cursor pointer
      text-align center
      overflow hidden
      img
        width 100%
        height auto
      @media screen and (min-width 1000px)
        &:hover
          figcaption
            display none
      figcaption
        position absolute
        bottom 0
        left 0
        right 0
        font-size remify(15)
        font-weight $medium
        letter-spacing 1.8px
        text-align center
        color #ffffff
        opacity 0.89
        background-color #212c3e
        height 65px
        line-height 65px
        @media $lg
          height 57.5px
          line-height 57.5px
        @media $sl
          height 50px
          line-height 50px
        @media $xs
          font-size remify(15)
          height 40px
          line-height 40px

      &-hover
        position absolute
        top 0
        bottom 0
        left 0
        right 0
        display flex
        opacity 0
        background-color #212c3e
        align-items center
        justify-content center
        flex-direction column
        transition all 0.3s ease
        @media screen and (min-width 1000px)
          &:hover
            opacity 0.93
            transform scale(1)
        span
          font-size remify(17)
          font-weight $medium
          line-height 1.41
          letter-spacing 2px
          text-align center
          color #5e78b3
          margin 100px 0 0 0

        a
          width 30%
          height 30px
          border solid 1px #ffffff
          font-size remify(11)
          font-weight $medium
          letter-spacing 1.8px
          line-height 30px
          text-align center
          color white
          margin 40px 0 0 0
          cursor pointer
  &-contact
    display flex
    align-items flex-end
    position relative
    @media $sl
      padding 42px 0 0 0
    @media $xs
      padding 0
    img
      width 44%
      height auto
      z-index -1
      @media $xs
        position absolute
        bottom 0
        left 0
        width 90%
    &-content
      padding 0 152px 0 175px
      width 100%
      @media $lg
        padding 0 120px 0 126px
      @media $sl
        padding 0 70px 0 76px
      @media $sm
        padding 40px 60px 0 0
      @media $xs
        padding 15px 30px 14px 13px
      h3
        margin-bottom 20px
      span
        @media $xs
          display block
          margin-top 5px
          line-height 4
    &-form
      margin 0 0 66px 0
      overflow hidden
      @media $xs
        margin-bottom 10px
      label
        font-size remify(15)
        font-weight normal
        line-height 1
        letter-spacing 0.1px
        color #0c0d11
        display block
        margin-bottom 10px
        @media $xs
          font-size remify(12)
          line-height 2.83
          margin 0
      input
        border-bottom 1px solid #979797
        border-top transparent
        border-right transparent
        border-left transparent
        width 100%
        margin-bottom 29px
        background-color #fff
        border-radius 0
        -webkit-appearance none
      textarea
        border 1px solid #979797
        outline none
        resize none
        width 100%
        padding 5px
        height 92px
        background-color rgba(255,255,255,1)
        margin-top 10px
      button
        width 138px
        height 36px
        background-color #0c0d11
        font-size 12px
        font-weight $medium
        line-height 36px
        letter-spacing 2px
        text-align center
        color #ffffff
        margin 42px 0 0 0
        float right
        border none
