{% extends "partials/base.njk" %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="home-information">
  <div class="home-information-content">
    <h2>
      WE INVEST IN THE HEART OF THE CITIES
    </h2>
    <h1>
      <span>PH CAPITAL</span> OR <span>PROJECT HEART CAPITAL</span> IS A REAL <br>
      ESTATE PRIVATE EQUITY FIRM THAT LOOKS FOR <br>
      <span>ATTRACTIVE INVESTMENT OPPORTUNITIES</span> IN THE HEART <br>
      OF THE CITIES, PRIMARILY <span>IN THE RESIDENTIAL SECTOR</span>.
    </h1>
  </div>
    <p class="home-information-action">
      <img src="img/down-arrow.svg" alt="down arrow">
      <span>SCROLL DOWN</span>
    </p>
</section>
<section class="home-investment">
  <img src="img/investment-1.jpg"
       srcset="img/investment-1@2x.jpg 2x, img/investment-1@3x.jpg 3x"
       class="home-investment-image">
  <div class="home-investment-content">
    <span class="ph-number">
      /01
    </span>
    <h3 class="ph-title">
      Investment Strategy - THESIS
    </h3>
    <p class="ph-description home-investment-information">
      Cities, not countries, are the constituent elements of a developing economy
      and have been so from the dawn of civilization. PH Capital believes urbanization
      and high dense cities create an enormous variety of opportunities to develop and
      finance real estate products.
    </p>
    <a href="#" class="ph-button">
      PROJECTS
    </a>
  </div>
</section>
<section class="home-strategy">
  <div class="home-strategy-header">
    <span class="ph-number">
      /02
    </span>
    <h3 class="ph-title">
      Investment <br> Strategy - <br> Our Philosophy
    </h3>
  </div>
  <div class="ph-description home-strategy-information">
    PH Capital participates in real estate deals mainly through
    equity stakes. The Firm seeks to participate at early stage of
    a development: land acquisition. This approach allows PH Capital
    to participate in the definition of the business plans and predevelopment
    activities seeking to create superior value through strategy and planning.
  </div>
  <div class="home-strategy-image">
    <img src="img/strategy-1.jpg"
         srcset="img/strategy-1@2x.jpg 2x, img/strategy-1@3x.jpg 3x">
  </div>
</section>
<section class="home-smart">
  <div class="home-smart-left">
    <div class="home-smart-left-content">
      <span class="ph-number">
        /03
      </span>
      <h3 class="ph-title home-smart-left-title">
        SMART <br>
        INVESTMENTS
      </h3>
    </div>
  </div>
  <div class="home-smart-right">
    <p class="ph-description">
      We strongly believe that the best way to achieve superior
      value to our stake holders is through sustained and long-term returns
      avoiding unnecessary risks. Through our risk adjusted return perspective
      we preserve the capital of our sponsors and maximize the returns
      of our investments.
    </p>
  </div>
  <div class="home-smart-line"></div>
</section>
<section class="home-team">
  <img src="img/team-1.jpg"
       srcset="img/team-1@2x.jpg 2x,img/team-1@3x.jpg 3x">
  <div class="home-team-content">
    <span class="ph-number">
      /04
    </span>
    <h3 class="ph-title">
      Sponshorship
    </h3>
    <p class="ph-description">
      Our board of advisors and management possess significant
      experience in the financial and real estate sectors in Mexico,
      this combined with our organizational culture of hard work and ambition
      gives our investors and partners confidence in what we can accomplish
    </p>
    <a href="#" class="ph-button">
      CONTACT US
    </a>
  </div>
</section>
<section class="home-partner">
  <div class="home-partner-left">
    <div class="home-partner-left-content">
      <span class="ph-number">
        /05
      </span>
      <h3 class="ph-title home-partner-left-title">
        OUR <br>
        DEVELOPMENT <br>
        PARTNER
      </h3>
    </div>
  </div>
  <div class="home-partner-right">
    <img src="img/vre-icon.png"
         srcset="img/vre-icon@2x.png 2x,img/vre-icon@3x.png 3x">
    <p class="ph-description">
      VRE <a href="https://www.vre.com.mx" target="_blank">(www.vre.com.mx)</a>
      is a Mexican real estate developer.
      The Firm is currently committed into developing vertical
      residential properties in the Heart of Mexico City. PH Capital has
      participated as equity sponsor in the projects promoted by VRE.
    </p>
  </div>
</section>
<section class="home-vre">
  <img src="img/vre-1.jpg"
       srcset="img/vre-1@2x.jpg 2x,img/vre-1@3x.jpg 3x"
       class="home-vre-image">
  <div class="home-vre-left">
    <img src="img/vre-small-icon.png"
         srcset="img/vre-small-icon@2x.png 2x,img/vre-small-icon@3x.png 3x" width="43px" height="41px">
    <div class="home-vre-content">
      <h3 class="ph-title">
        VRE'S VALUE <br>
        PROPOSAL
      </h3>
      <ul class="home-vre-list">
        <li class="home-vre-list-item">
          <div class="home-vre-list-item-number">
            /01
          </div>
          <div class="home-vre-list-item-text">
            <span>Client focused developer:</span> VRE is strongly engaged in
            providing a differentiated customer experience to it’s target market
          </div>
        </li>
        <li class="home-vre-list-item">
          <div class="home-vre-list-item-number">
            /02
          </div>
          <div class="home-vre-list-item-text">
            <span>High quality product:</span> committed to deliver top notch
            properties through a continuous improvement philosophy
          </div>
        </li>
        <li class="home-vre-list-item">
          <div class="home-vre-list-item-number">
            /03
          </div>
          <div class="home-vre-list-item-text">
            <span>Automation and productivity:</span> VRE believes there is an
            enormous opportunity in the architecture, engineering and construction
            industry for improving current productivity by investing in
            technology and human capital
          </div>
        </li>
        <li class="home-vre-list-item">
          <div class="home-vre-list-item-number">
            /04
          </div>
          <div class="home-vre-list-item-text">
            <span>Pre-development:</span> VRE recognizes that the key of a
            successful project management begins with a disciplined process of
            planning and business plan definition
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="home-vre-right"></div>
</section>
<section class="home-track">
  <div class="home-track-content">
    <span class="ph-number">
      /06
    </span>
    <h3 class="ph-title">
      Investment Vehicles <br>
      Track Record
    </h3>
    <div class="home-track-container">
      <figure class="home-track-image">
        <img src="img/track-1.jpg"
             srcset="img/track-1@2x.jpg 2x, img/track-1@3x.jpg 3x">
        <figcaption>PH I</figcaption>
        <div class="home-track-image-hover">
          <span>
            PH I
          </span>
          <a href="#">
            SEE MORE
          </a>
        </div>
      </figure>
      <figure class="home-track-image">
        <img src="img/track-2.jpg"
             srcset="img/track-2@2x.jpg 2x, img/track-2@3x.jpg 3x">
        <figcaption>PH II</figcaption>
        <div class="home-track-image-hover">
          <span>
            PH II
          </span>
          <a href="#">
            SEE MORE
          </a>
        </div>
      </figure>
      <figure class="home-track-image">
        <img src="img/track-3.jpg"
             srcset="img/track-3@2x.jpg 2x, img/track-3@3x.jpg 3x">
        <figcaption>PH III</figcaption>
        <div class="home-track-image-hover">
          <span>
            PH III
          </span>
          <a href="#">
            SEE MORE
          </a>
        </div>
      </figure>
    </div>
  </div>
</section>
<section class="home-contact">
  <img src="img/contact-1.png"
       srcset="img/contact-1@2x.png 2x,img/contact-1@3x.png 3x">
  <div class="home-contact-content">
    <span class="home-contact-number">
      /08
    </span>
    <h3 class="home-contact-title">
      CONTACT
    </h3>
    <form class="home-contact-form">
      <label for="name">Name</label>
      <input type="text" name="name" id="name">
      <label for="email">E-mail</label>
      <input type="email" name="email" id="email">
      <label for="message">Message</label>
      <textarea name="message" id="message" cols="30" rows="10"></textarea>
      <button>
        SEND
      </button>
    </form>
  </div>
</section>
{% endblock %}