<footer class="footer">
  <div class="footer-logo-container">
    <a href="index.html">
      <img src="img/ph-blanco.png"
           srcset="img/ph-blanco@2x.png 2x, img/ph-blanco@3x.png 3x"
           alt="Footer logo" width="117px" height="39px">
    </a>
  </div>
  <div>
  <div class="footer-label">
    PH CAPITAL 2019 ® COPYRIGHT
  </div>
</footer>
