<nav class="navbar">
  <div>
    <a href="#page">
      <img src="img/ph-blanco.png"
           srcset="img/ph-blanco@2x.png 2x, img/ph-blanco@3x.png 3x"
           class="navbar-logo" alt="Navbar logo">
    </a>
  </div>
  <div class="navbar-option-container">
    <div class="navbar-option-content">
      <a href="#investment-strategy" class="navbar-option navbar-option-desktop go-section" title="ESTRATEGIA DE INVERSIÓN">
        ESTRATEGIA DE INVERSIÓN
      </a>
    </div>
    <div class="navbar-option-content">
      <a href="#smart-investments" class="navbar-option navbar-option-desktop go-section" title="INVERSIONES INTELIGENTES">
        INVERSIONES INTELIGENTES
      </a>
    </div>
    <div class="navbar-option-content">
      <a href="#sponsorship" class="navbar-option navbar-option-desktop go-section" title="EQUIPO">
        EQUIPO
      </a>
    </div>
    <div class="navbar-option-content">
      <a href="#development-partner" class="navbar-option navbar-option-desktop go-section" title="NUESTRO SOCIO DESARROLLADOR">
        NUESTRO SOCIO DESARROLLADOR
      </a>
    </div>
    <div class="navbar-option-content">
      <a href="#contact" class="navbar-option navbar-option-desktop go-section" title="CONTACTO">
        CONTACTO
      </a>
    </div>
    <div class="navbar-language-container">
      <div class="navbar-language-content">
        <span class="navbar-language navbar-language-separator">/</span>
      </div>
      <div class="navbar-language-content">
        <a href="{% if section == 'inicio' %}  index.html {% endif %}" class="navbar-option language-option {% if lang_view == 'english' %}active{% endif %}" title="EN">
          EN
        </a>
      </div>
      <div class="navbar-language-content">
        <a href="{% if section == 'index' %}  inicio.html {% endif %}" class="navbar-option language-option {% if lang_view == 'spanish' %}active{% endif %}" title="ES">
          ES
        </a>
      </div>
    </div>
  </div>
  <div data-attribute="" class="hamburger-visibility">
    <div class="hamburger-language-option">
      <a href="{% if section == 'inicio' %}  index.html {% endif %}">
        <span class="navbar-option {% if lang_view == 'english' %}active{% endif %}">EN</span>
      </a>
    </div>
    <div class="hamburger-language-option">
      <a href="{% if section == 'index' %}  inicio.html {% endif %}">
        <span class="navbar-option {% if lang_view == 'spanish' %}active{% endif %}">ES</span>
      </a>
    </div>
    <div class="navbar-hamburguer" data-attribute="" id="hamburgerMenu">
      <div class="hamburger-line-icon-container" data-attribute="">
        <div class="hamburger-line-icon" data-attribute=""></div>
        <div class="hamburger-line-icon" data-attribute=""></div>
        <div class="hamburger-line-icon" data-attribute=""></div>
      </div>
    </div>
  </div>
  <div class="hamburger-menu-container" id="menuContainer">
    <div class="hamburger-menu-body nunitosans-regular" data-attribute="">
      <div class="hamburger-text-container">
        <a class="go-section" href="#investment-strategy">
          <span class="hamburger-text">ESTRATEGIA DE INVERSIÓN</span>
        </a>
      </div>
      <div class="hamburger-text-container">
        <a class="go-section" href="#smart-investments" data-attribute="">
          <span class="hamburger-text">INVERSIONES INTELIGENTES</span>
        </a>
      </div>
      <div class="hamburger-text-container">
        <a class="go-section" href="#sponsorship" data-attribute="">
          <span class="hamburger-text">EQUIPO</span>
        </a>
      </div>
      <div class="hamburger-text-container">
        <a class="go-section" href="#development-partner" data-attribute="">
          <span class="hamburger-text">NUESTRO SOCIO DESARROLLADOR</span>
        </a>
      </div>
      <div class="hamburger-text-container">
        <a class="go-section" href="#contact" data-attribute="">
          <span class="hamburger-text">CONTACTO</span>
        </a>
      </div>
    </div>
  </div>
</nav>
