<nav class="navbar">
  <div>
    <a href="#page">
      <img src="img/ph-blanco.png"
           srcset="img/ph-blanco@2x.png 2x, img/ph-blanco@3x.png 3x"
           class="navbar-logo" alt="Navbar logo">
    </a>
  </div>
  <div class="navbar-option-container">
    <div class="navbar-option-content">
      <a href="#investment-strategy" class="navbar-option" title="INVESTMENT STRATEGY">
        INVESTMENT STRATEGY
      </a>
    </div>
    <div class="navbar-option-content">
      <a href="#smart-investments" class="navbar-option" title="SMART INVESTMENTS">
        SMART INVESTMENTS
      </a>
    </div>
    <div class="navbar-option-content">
      <a href="#sponsorship" class="navbar-option" title="SPONSORSHIP">
        SPONSORSHIP
      </a>
    </div>
    <div class="navbar-option-content">
      <a href="#development-partner" class="navbar-option" title="OUR DEVELOPMENT PARTNER">
        OUR DEVELOPMENT PARTNER
      </a>
    </div>
    <div class="navbar-option-content">
      <a href="#contact" class="navbar-option" title="CONTACT">
        CONTACT
      </a>
    </div>
    <div class="navbar-option-content">
      <span class="navbar-option navbar-option-separator">/</span>
    </div>
    <div class="navbar-option-content">
      <a href="#" class="navbar-option" title="EN">
        EN
      </a>
    </div>
    <div class="navbar-option-content">
      <a href="#" class="navbar-option" title="ES">
        ES
      </a>
    </div>
  </div>

  <div data-attribute="" class="hamburger-visibility">
    <div class="hamburger-language-option">
      <a href="#">
        <span class="navbar-option">EN</span>
      </a>
    </div>
    <div class="hamburger-language-option">
      <a href="#">
        <span class="navbar-option">ES</span>
      </a>
    </div>
    <div class="navbar-hamburguer" data-attribute="" id="hamburgerMenu">
      <div class="hamburger-line-icon-container" data-attribute="">
        <div class="hamburger-line-icon" data-attribute=""></div>
        <div class="hamburger-line-icon" data-attribute=""></div>
        <div class="hamburger-line-icon" data-attribute=""></div>
      </div>
    </div>
  </div>
  <div class="hamburger-menu-container" id="menuContainer">
    <div class="hamburger-menu-header">
      <div>
        <a href="#page">
          <img src="img/ph-blanco.png"
               srcset="img/ph-blanco@2x.png 2x, img/ph-blanco@3x.png 3x"
               class="hamburger-logo" alt="Hamburger logo">
        </a>
      </div>
      <div id="hideHamburger">
        <img class="hamburger-close" src="img/close-menu.png" alt="Close hamburger menu">
      </div>
    </div>
    <div class="hamburger-menu-body nunitosans-regular" data-attribute="">
      <div class="hamburger-text-container">
        <a href="#investment">
          <span class="hamburger-text">INVESTMENT STRATEGY</span>
        </a>
      </div>
      <div class="hamburger-text-container">
        <a href="#smart-investments" data-attribute="">
          <span class="hamburger-text">SMART INVESTMENTS</span>
        </a>
      </div>
      <div class="hamburger-text-container">
        <a href="#sponsorship" data-attribute="">
          <span class="hamburger-text">SPONSORSHIP</span>
        </a>
      </div>
      <div class="hamburger-text-container">
        <a href="#development-partner" data-attribute="">
          <span class="hamburger-text">OUR DEVELOPMENT PARTNER </span>
        </a>
      </div>
      <div class="hamburger-text-container">
        <a href="#contact" data-attribute="">
          <span class="hamburger-text">CONTACT</span>
        </a>
      </div>
    </div>
  </div>
</nav>
