.footer
  background-image url('../img/footer-1@2x.jpg')
  background-position center center
  background-size cover
  display flex
  flex-direction row
  height 200px
  width 100%
  padding 0 170px
  justify-content space-between
  align-items center
  &-label
    font-size remify(10)
    font-weight normal
    line-height 7.2
    letter-spacing 4px
    text-align right
    color #ffffff
