.footer
  background-image url('../img/footer-1@2x.jpg')
  background-position center center
  background-size cover
  display flex
  flex-direction row
  height 225px
  width 100%
  padding 0 112px 0 170px
  justify-content space-between
  align-items center
  @media $sm
    padding 0 50px 0 50px
  @media $xs
    flex-direction column
    align-items center
    justify-content center
    padding 0 13px
  &-logo-container
    margin-top 10px
  &-label
    font-size remify(10)
    font-weight normal
    line-height 7.2
    letter-spacing 4px
    text-align right
    color #ffffff
    margin 10px 0 0 0
    @media $xs
      line-height inherit
      flex-basis 100%
      width 100%
      margin-top 20px
