.navbar
  align-items center
  background-color transparent
  display flex
  justify-content space-between
  left 0
  padding 48px 84px 0 102px
  position fixed
  top 0
  width 100%
  z-index 12
  max-height 121px

  &-logo
    height auto
    width 123px
    margin 0


  &-scroll
    align-items center
    background-color #212c3e
    box-shadow 0 6px 8px 0 rgba(0,0,0,0.2)
    height 91px
    padding 0 84px 0 84px

  &-option-active
    font-weight bold !important
    line-height 6.8 !important

  &-option
    color white
    font-family "Futura"
    font-size remify(11)
    line-height 6.55
    letter-spacing 3px
    -webkit-font-smoothing antialiased
    display block

    &:hover
      font-weight bold
      line-height 6.8 !important

    &:after
      display block
      content attr(title)
      font-weight bold
      height 0
      overflow hidden
      visibility hidden

    &-container
      display flex
      flex-direction row
      font-size 0

    &-content
      position relative
      margin-left 15px

      &.active .navbar-option
        font-weight bold !important
        line-height 6.8 !important

  &-language
    &-separator
      color #5e78b3
      font-size remify(11)
      line-height 72px
      letter-spacing 3.38px
      cursor default

    &-container
      display flex
      flex-direction row

    &-content
      position relative
      margin-left 15px

.hamburger
  &-language-option
    font-family "Futura"
    font-size remify(11)
    line-height 6.55
    letter-spacing 3.4px
    text-align right
    color #ffffff
    margin-right 18px
    cursor pointer
    display none
  &-visibility
    position absolute
    display flex
    justify-content center
    align-items center

  &-menu
    &-container
      display none

.active-section
  color white

@media screen and (max-width: 1310px)
  .navbar
    justify-content space-between
    height 69px
    padding 0 18px

    &-logo
      width 99px

    &-option
      &-container
        display none

  .hamburger
    background-color transparent
    display flex
    height 33px
    justify-content center
    width 33px
    &-language-option
      display block

    &-visibility
      cursor pointer
      position initial

    &-logo
      width 94px
      height auto

    &-close
      height 16px
      width 16px

    &-menu
      &-container
        background-color #212c3e
        display inline
        bottom 0
        right  0
        padding-bottom 50px
        position fixed
        top 0
        -webkit-transition width 0.5s
        transition width 0.5s
        width 0%
        z-index 13
        overflow hidden
        margin-top 69px
        padding-top 10px

      &-header
        align-items center
        display flex
        flex-direction row
        justify-content space-between
        padding 22px 36px 50px 36px

      &-body
        margin-left 36px

    &-text
      font-size 10px
      line-height 5.4
      letter-spacing 2.3px
      color #ffffff
      font-family "Futura"

      &-active
        font-weight bold

      &-container
        &.active .hamburger-text
          font-weight bold !important
          line-height 6.8 !important

    &-active,
    &-text:hover
      font-weight bold

    &-line
      &-icon
        background-color #fff
        height 2px
        width 20px

        &-container
          display flex
          flex-direction column
          justify-content center

        &:nth-child(2)
          margin 4px 0
