@font-face {
  font-family: 'Futura';
  src: url('../fonts/futura_book_font.ttf') format('truetype');
  font-weight: $normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/futura_bold.otf') format("opentype");
  font-weight: $bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/futura_medium.otf') format('truetype');
  font-weight: $medium;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/futura_medium_italic.otf') format('truetype');
  font-weight: $medium;
  font-style: italic;
}
