.ph-number
  font-size remify(16)
  line-height 4.5
  letter-spacing 7.5px
  color #5e78b3
  font-weight $medium
  @media $lg
    font-size remify(14)
    line-height 3
  @media $xs
    font-size remify(11)
    line-height 6.55
    letter-spacing 5.2px
.ph-title
  font-size remify(30)
  line-height 1.63
  letter-spacing 3.6px
  color #0c0d11
  margin 0
  font-weight $medium
  @media $lg
    font-size remify(25)
    line-height 1.30
  @media $xs
    font-size remify(16px)
    line-height 1.44
    letter-spacing 1.9px

.ph-description
  font-size remify(15)
  font-weight $normal
  line-height 2.13
  letter-spacing 0.2px
  color #0c0d11
  @media $lg
    line-height 1.8
  @media $xs
    font-size remify(12)
    line-height 2
    letter-spacing 0.1px
.ph-button
  color white
  text-decoration none
  background-color #0c0d11
  font-size remify(12)
  letter-spacing 2px
  text-align center
  padding 10px 57px
  @media $sl
    font-size remify(11)